<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97494324605-64c2fkmkji775frdpqcnnr4pnv1s22d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97494324605-64c2fkmkji775frdpqcnnr4pnv1s22d2</string>
	<key>API_KEY</key>
	<string>AIzaSyCzEFsjJngaPaENUXCsR-2LvCQrEptbls4</string>
	<key>GCM_SENDER_ID</key>
	<string>97494324605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ballerbizoy.ballerai.dashboard</string>
	<key>PROJECT_ID</key>
	<string>balleraidashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>balleraidashboard.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97494324605:ios:3c339cf5eadbb04e6be814</string>
</dict>
</plist>